@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;500;700&display=swap');

* {
    margin: 0;
    height: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-image: linear-gradient(to bottom, #e3e3e3, #d9cae0, #dbaed3, #e48fb7, #e96e8e);
    height: 100vh;
}

.container{
    
}